name: First Workflow

on:
  push:
  workflow_dispatch:

jobs:
  work:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4.1.7
    - run: |
        pwd
        ls -al
    - run: echo hello world
  anotherjob:
    needs: work
    runs-on: windows-latest
    steps:
    - run: pwd
    - run: ls
